DATA_AGENTS_LOCATION="global"
DATA_AGENTS_PROJECT=""
DATA_AGENT_ID=""
DATA_RESULT_KEY="data_result"
TEXT_RESULT_KEY="text_insights"
CHART_KEY="chart_specs"
QUERY_KEY="query"
USER_MSG_KEY="user_message"
MAX_HISTORY=5
